.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
#eachCard {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  /* max-width: 500px; */
  padding: 20px;
  text-align: left;
  margin-right: 20px;
}
.image-container {
  display: flex;
  justify-content: flex-end;
  /* width: 400px; */
  margin-bottom: 20px;
}

.card-heading {
  font-family: 'Roboto';
}
.card-description {
  font-family: 'Roboto';
}
